.jumbotron-wave {
  position: relative;
  overflow: hidden;
}

.jumbotron-wave::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-image: url("./assets/wave.png");
  background-size: cover;
  background-repeat: no-repeat;
  transform: scaleY(1);
}

.footer-wave {
  position: relative;
  overflow: hidden;
}

.footer-wave::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-image: url("./assets/wavetwo.png");
  background-size: cover;
  background-repeat: no-repeat;
  transform: scaleY(-1);
}
